@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'IranSansBold';
    src: url('../public/fonts/IRANSansDN-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranSansRegular';
    src: url('../public/fonts/IRANSansDN.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'faNum';
    src: url('../public/fonts/IRANSansWeb\(FaNum\).woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color1: #36e6fd;
    --color2: #136294;
    --color2Hover: #0c4e77;
    --color3: #fff;

    /* --color1: #36e6fd;
    --color2: #526470;
    --color2Hover: #415059;
    --color3: #fff; */
}

* {
    font-family: 'IranSansBold';
    direction: rtl;
}

.persianNumber {
    font-family: "faNum";
}

.mr-0-important {
    margin-right: auto !important;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    height: 100px !important;
}

.brand-logo img {
    height: 100px !important;
}

.navbar-nav {
    padding: 0;
}

.badge-dot i {
    margin-right: 0;
}


/* width */
.navbar::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.navbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}

/* Handle */
.navbar::-webkit-scrollbar-thumb {
    background: #dedffd9a;
    border-radius: 10px;
}
/* Global Variables */


/* Reset Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
}

