@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'IranSansBold';
    src: url('../public/fonts/IRANSansDN-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranSansRegular';
    src: url('../public/fonts/IRANSansDN.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'faNum';
    src: url('../public/fonts/IRANSansWeb\(FaNum\).woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color1: #36e6fd;
    --color2: #136294;
    --color2Hover: #0c4e77;
    --color3: #fff;

    /* --color1: #36e6fd;
    --color2: #526470;
    --color2Hover: #415059;
    --color3: #fff; */
}

* {
    font-family: 'IranSansBold';
    direction: rtl;
}

.persianNumber {
    font-family: "faNum";
}

.mr-0-important {
    margin-right: auto !important;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    height: 100px !important;
    border-radius: 100%;
    position: relative;

}

.brand-logo img {
    height: 100px !important;
    border-radius: 100%;
    object-fit: cover;
    width: 80px;
    height: 80px !important;
    /* width: 100%; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

}

.navbar-nav {
    padding: 0;
}

.badge-dot i {
    margin-right: 0;
}


/* width */
.navbar::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.navbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}

/* Handle */
.navbar::-webkit-scrollbar-thumb {
    background: #dedffd9a;
    border-radius: 10px;
}

/* Global Variables */


/* Reset Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
}


.profile-username {
    text-align: center;
}

.online-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../public/images/vip.webp");
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 87px;
}

/* Charts */
.chart-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row !important;
    /* width: 100%; */
    justify-content: space-between;
    gap: 35px;
}

.chart-right,
.chart-left {
    display: flex;
    flex: 1;
    background-color: #fff;
    border-radius: 0.75rem;
    justify-content: center;
    /* width: 100%; */
}

.card-footer {
    display: flex;
    /* flex-direction: row !important; */
    justify-content: space-between;
}

.card-footer span:nth-child(2) {
    font-size: 12px;
}

.popup {
    position: absolute;
    z-index: 1000;
    top: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid rgb(148, 148, 148);
}
.pop-up-close-btn{
    position: absolute;
    left: 10px;
    cursor: pointer;
}



/* Fork on github  */

/* .gh-ribbon {
	font-family: Helvetica, Arial, sans-serif;
	width: 600px;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding: 10px;
	text-decoration: none;
	position: fixed;
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 1000;
}

.gh-ribbon:after {
	content: "";
	position: relative;
	display: block;
	top: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon:before {
	content: "";
	position: relative;
	display: block;
	bottom: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}


.gh-ribbon.left {
	top: 15px;
	left: -285px;
	transform: rotate(-45deg) translateY(100%);
}

.gh-ribbon.red {
	background-color: #aa0000;
	color: #ffffff;
} */